<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gr.uoa.di">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".mainproducts.MyActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mainproducts.DisplayResults"
            android:label="@string/title_activity_display_results"
            android:parentActivityName=".mainproducts.MyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mainproducts.MyActivity" />
        </activity>
        <activity
            android:name=".mainlist.MyListActivity"
            android:label="@string/title_list_display"
            android:parentActivityName=".mainproducts.MyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mainproducts.MyActivity" />
        </activity>

        <activity android:name=".mainproducts.ShowProductsActivity"
            android:label="@string/title_show_prods"
            android:parentActivityName=".mainproducts.MyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mainproducts.MyActivity" />
        </activity>


    </application>

</manifest>